<form [formGroup]="formGroup">

  <div class="row">

    <div class="col-6 d-flex flex-column align-items-start justify-content-between">

      <mat-form-field class="medium-input">
        <mat-label>Min reps</mat-label>
        <input matInput formControlName="apexPyramid" [(ngModel)]="pyramid.apexPyramid">
        <mat-error *ngIf="formValidator?.apexPyramid?.errors?.required">
          Mandatory
        </mat-error>
        <mat-error *ngIf="formValidator?.apexPyramid?.errors?.min">
          Must be greater than zero
        </mat-error>
      </mat-form-field>

      <img src="assets/icons/pyramid.png" height="40">

      <mat-form-field class="medium-input">
        <mat-label>Max reps</mat-label>
        <input matInput formControlName="basePyramid" [(ngModel)]="pyramid.basePyramid">
        <mat-error *ngIf="formValidator?.basePyramid?.errors?.required">
          Mandatory
        </mat-error>
        <mat-error *ngIf="formValidator?.basePyramid?.errors?.min">
          Must be greater than zero
        </mat-error>
        <mat-error *ngIf="formValidator?.basePyramid?.errors?.lessOrEqualThan">
          Less or equal than apex
        </mat-error>
      </mat-form-field>

    </div>

    <div class="col-6 d-flex flex-column align-items-center justify-content-between">

      <mat-form-field class="medium-input">
        <mat-label>Sec. rep</mat-label>
        <input matInput formControlName="restTime" [(ngModel)]="pyramid?.restTime.secondsSet">
        <mat-error *ngIf="formValidator?.restTime?.errors?.min">
          Must be greater than zero
        </mat-error>
        <mat-error *ngIf="formValidator?.restTime?.errors?.required">
          Mandatory
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="reverse" [(ngModel)]="pyramid.reverse">Start from base</mat-checkbox>

      <mat-form-field class="medium-input">
        <mat-label>Sec. shot</mat-label>
        <input matInput formControlName="restTimeReps" [(ngModel)]="pyramid?.restTimeReps.secondsSet">
        <mat-error *ngIf="formValidator?.restTimeReps?.errors?.min">
          Must be greater than zero
        </mat-error>
        <mat-error *ngIf="formValidator?.restTimeReps?.errors?.required">
          Mandatory
        </mat-error>
      </mat-form-field>
    </div>


  </div>

</form>
