<h2 class="text-center">
  {{ (trainingService.getTrainingSelected() | async)?.status }}
</h2>

<div class="row" *ngIf="(trainingService.getTrainingSelected() | async)?.status && (trainingService.getTrainingSelected() | async)?.status != TrainingStatusEnum.Finish">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <app-timer
      [countdown]="configService?.config?.countdownTimer"
      [restTime]="currentRestTime">
    </app-timer>
  </div>
</div>


<app-workout-execution></app-workout-execution>

<app-training-execution-buttons></app-training-execution-buttons>
