<mat-card>
  <form [formGroup]="formGroup">

  <mat-card-header>
    <mat-card-title>Set training</mat-card-title>
    <mat-card-subtitle>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="trainingName">
        <mat-error *ngIf="formValidator.trainingName?.errors?.required">
          Mandatory
        </mat-error>
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-8">
        <h3> Prepare </h3>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <mat-form-field class="small-input">
          <mat-label>Rest sec</mat-label>
          <input matInput formControlName="preWorkoutRestTime">
          <mat-error *ngIf="formValidator.preWorkoutRestTime?.errors?.min">
            Must be greater than zero
          </mat-error>
          <mat-error *ngIf="formValidator.preWorkoutRestTime?.errors?.required">
            Mandatory
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <app-divider></app-divider>


    <div class="row">
      <div class="col-8 d-flex flex-column align-items-start">
        <img src="assets/pyramid.png" height="40" (click)="openPyramidDialog()">
        <div class="d-flex flex-column align-items-center">
          <mat-form-field class="small-input">
            <mat-label>Total reps</mat-label>
            <input matInput formControlName="workoutReps">
            <mat-error *ngIf="formValidator.workoutReps?.errors?.min">
              Must be greater than zero
            </mat-error>
            <mat-error *ngIf="formValidator.workoutReps?.errors?.required">
              Mandatory
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <mat-form-field class="small-input">
          <mat-label>Rest sec</mat-label>
          <input matInput formControlName="workoutRestTime">
          <mat-error *ngIf="formValidator.workoutRestTime?.errors?.min">
            Must be greater than zero
          </mat-error>
          <mat-error *ngIf="formValidator.workoutRestTime?.errors?.required">
            Mandatory
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <app-divider></app-divider>

    <div class="row">
      <div class="col-8">
        <h3> Rest </h3>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <mat-form-field class="small-input">
          <mat-label>Rest sec</mat-label>
          <input matInput formControlName="postWorkoutRestTime">
          <mat-error *ngIf="formValidator.postWorkoutRestTime?.errors?.min">
            Must be greater than zero
          </mat-error>
          <mat-error *ngIf="formValidator.postWorkoutRestTime?.errors?.required">
            Mandatory
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button color="accent" (click)="saveTraining()" [disabled]="formGroup.invalid">
      <mat-icon>
        save
      </mat-icon>
    </button>
  </mat-card-actions>

  </form>
</mat-card>
